{% extends 'base.html' %}
{% block title  %}Ваши подписки{% endblock title  %}
{% block content %}
{% load thumbnail %}
<div class="container py-5 borders" style="margin: 80px auto;";>
{% include 'includes/switcher.html' %}   
  <h1>Публикации авторов, на которых Вы подписаны</h1>
  {% for post in page_obj %}
  <article>
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
          <a class="gain-center" href="{% url 'posts:profile' post.author %}">все посты пользователя
          </a>
      </li>
      <li >
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}" >
    {% endthumbnail %}
    <p>{{ post.text }}</p>    
    <a href="{% url 'posts:post_detail' post.pk %}" class="gain-center">подробная информация </a>
  </article>
  {% if post.group %} 
    <a href="{% url 'posts:group_list' post.group.slug %}" class="gain-center">
      все записи группы</a>
  {% endif %} 
  {% if not forloop.last %}<hr class="lines">{% endif %}              
  {% endfor %}                    
  {% include 'includes/paginator.html' %}
</div>  
{% endblock %}
